:root {
    --clr-highlight: rgb(161, 5, 74);
    --clr-background: rgb(204, 86, 138);
    --clr-text: rgb(250, 220, 237);
    --clr-error: rgb(102, 2, 29);

    --ff-primary: "Heebo", sans-serif;

    --ff-body: var(--ff-primary); 
    --ff-heading: var(--ff-primary);

    --fs-mini: 0.75rem;
    --fs-small: 1.25rem;
    --fs-medium: 1.75rem;
    --fs-large: 3rem;
    --fs-extra-large: 5rem;
    --fs-monster: 20rem;
}

@media only screen and (max-width: 800px) {
    :root {
    --fs-small: 0.75rem;
    --fs-medium: 1.2rem;
    --fs-large: 1.5rem;
    --fs-extra-large: 3rem;
    --fs-monster: 6rem;
    }
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
    box-sizing: border-box;
}

body {
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    height: 100%;
}

html,
body {
    height: 100%;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

svg,
img,
picture {
    max-width: 100%;
    display: block;
}

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }
  
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

.main {
    padding-top: 4%;
    flex: 1 0 auto;
}

label {
    padding-right: 30px;
}

.monster-input,
.base-input {
    width: 100%;
    height: 100%;
    font-weight: bold;
    border: none;
    caret-color: transparent;
    text-align: center;
    background-color: var(--clr-background);
    color: var(--clr-text);
    text-transform: uppercase;
    padding-bottom: 30px;
}

.monster-input {
    font-size: calc(22vw);
}

.base-input {
    font-size: var(--fs-extra-large);
}

.heading {
    display: inline-block;
    width: 90%;
}

#score {
    padding: 15px;
}

.letter,
.letter1,
.letter2,
.letter3,
.letter4,
.letter5,
.letter6,
.animation-holder,
.text-small,
.text-medium,
.text-large,
.text-center {
    text-align: center;
    display: inline-block;
}

.letter1,
.letter2,
.letter3,
.letter4,
.letter5,
.letter6,
.animation-holder {
    animation: change .6s 0s infinite;
}

.letter1 {
    animation-delay: 0s;
}

.letter2 {
    animation-delay: 0.1s;
}

.letter3 {
    animation-delay: 0.2s;
}

.letter4 {
    animation-delay: 0.3s;
}

.letter5 {
    animation-delay: 0.4s;
}

.letter6 {
    animation-delay: 0.5s;
}

.text-small {
    font-size: var(--fs-small);
}

.text-medium {
    font-size: var(--fs-medium);
}

.text-large {
    font-size: var(--fs-large);
}

.text-xl {
    font-size: var(--fs-extra-large);
}

.light {
    font-weight: 300;
}

.bold {
    font-weight: 900;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.large-padding {
    padding: 20px;
}

.between {
    justify-content: space-between;
}

.center {
    justify-content: center;
    align-items: center;
}

#attacher {
    display: flex;
    flex-direction: row;
    padding: 2%;
    width: 100%;
    justify-content: space-between;
}

#language-button img {
    width: 30px;
    height: 30px;
}

.keyboard {
    padding: 10px;
    justify-content: center;
}

.key,
.big-key {
    border: 1px solid black;
    text-align: center;
    background-color: var(--clr-background);
    color: var(--clr-text);
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    user-select: none;
}

.half-key {
    border: none;
    padding: 10px;
    margin: 10px;
}

.big-key {
    padding: 5px 10px;
}

