.bar {
    background-color: var(--clr-highlight);
}

.icon {
  background-color: var(--clr-highlight);
  border: none;
  text-align: center;
  text-decoration: none;
  margin: 10px;
  display: inline-block;
}

.icon img {
  width: 40px;
  height: auto;
  display: block;
  filter: invert(100%);
  color: var(--clr-text);
}
