:root {
    --clr-highlight: rgb(161, 5, 74);
    --clr-background: rgb(204, 86, 138);
    --clr-text: rgb(250, 220, 237);
    --clr-error: rgb(102, 2, 29);

    --ff-primary: "Concert One", sans-serif;

    --ff-body: var(--ff-primary); 
    --ff-heading: var(--ff-primary);

    --fs-mini: 0.75rem;
    --fs-small: 1.25rem;
    --fs-medium: 1.75rem;
    --fs-large: 3rem;
    --fs-extra-large: 5rem;
}


@media only screen and (max-width: 800px) {
    :root {
    --fs-small: 1rem;
    --fs-medium: 1.2rem;
    --fs-large: 1.5rem;
    --fs-extra-large: 2rem;
    }
}



*::before,
*::after {
  box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}


ul[role='list'],
ol[role='list'] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

main {
    padding-top: 4%;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: var(--clr-background);
}

html,
body {
    height: 100%;
}


a:not([class]) {
  text-decoration-skip-ink: auto;
}

svg,
img,
picture {
  max-width: 100%;
  display: block;
}


@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


.monster-input {
    width: 100%;
    height: 25vh;
    font-weight: bold;
    border-width: 0px;
    border: none;
    caret-color: transparent;
    text-align: center;
    font-size: 15rem;
    color: var(--clr-text);
    text-transform:uppercase;
    font-family: var(--ff-body);
}

@media only screen and (max-width: 800px) {
    .monster-input {
    font-size: calc(28vw);
    }
}

input:focus {
    outline: none;
}

.monster {
    width: 80%;
    height: 20%;
}

.text-small {
    color: var(--clr-text);
    font-size: var(--fs-small);
    font-family: var(--ff-body);
}

.text-medium {
    color: var(--clr-text);
    font-size: var(--fs-medium);
    font-family: var(--ff-body);
}

.text-large {
    color: var(--clr-text);
    font-size: var(--fs-large);
    font-family: var(--ff-heading);
}

.bold {
    font-weight: bold;
}

.text-xl {
    color: var(--clr-text);
    font-size: var(--fs-extra-large);
    font-family: var(--ff-heading);
}

.background {
    background-color: var(--clr-background);
}

.highlight {
    background-color: var(--clr-highlight);
}

.flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.flex-stack {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.end-container {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
}

.end-stack {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
}

.button {
  background-color: var(--clr-highlight);
  color: var(--clr-text);
  border: none;
  padding: 2px 7px;
  margin: 5px 20px;
  margin-bottom: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: var(--fs-large);
  font-family: var(--ff-body);
  border-radius: 8px;
  transition-duration: 0.4s;
}

.back-button {
  background-color: var(--clr-highlight);
  color: var(--clr-text);
  border: none;
  padding: 2px 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: var(--fs-medium);
  font-family: var(--ff-body);
  border-radius: 8px;
}

.language-button {
  background-color: var(--clr-background);
  color: var(--clr-text);
  border: none;
  padding: 2px 7px;
  margin: 5vh 5vw 5vh 5vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: var(--fs-medium);
  font-family: var(--ff-body);
  border-radius: 8px;
}

.button-small-dark {
  background-color: var(--clr-highlight);
  color: var(--clr-text);
  border: none;
  padding: 2px 7px;
  margin: 5vh 5vw 5vh 5vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: var(--fs-medium);
  font-family: var(--ff-body);
  border-radius: 8px;
  width: 25vw;
  transition-duration: 0.4s;
}

.button-end {
  margin: 3vh 3vw 0vh 3vw;
  white-space: nowrap;
  width: 30vw;
}

.button-small-light {
  background-color: var(--clr-text);
  color: var(--clr-background);
  border: none;
  padding: 2px 7px;
  margin: 5vh 5vw 5vh 5vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: var(--fs-medium);
  font-family: var(--ff-body);
  border-radius: 8px;
  width: 25vw;
  transition-duration: 0.4s;
}
.button:hover {
  background-color: var(--clr-text);
  color: var(--clr-background);
}

.button-small:hover {
  background-color: var(--clr-text);
  color: var(--clr-background);
}

.right-pushed {
    margin-left: auto;
}

.right-nudged {
    padding-left: 50px;
}

.left-nudged {
    padding-right: 50px;
}

.tagline {
    opacity: 0.75;
}

.spaced-paragraph {
    padding-bottom: 30px;
}


main {
    flex: 1 0 auto;
}

.view {
    height: 60vh;
}



.blurred {
    filter: blur(8px);
}


.contained {
    opacity: 0.7;
}

.uncontained {
    opacity: 1;
}

.score-container {
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
}
