.previous-word-holder {
    height: 10vh;
}

@media (pointer:fine) {
    .previous-word-holder {
        height: 40vh;
    }
}
.previous-word {
    margin-left: 2%;
    margin-right: 2%;
    color: var(--clr-text);
    font-size: var(--fs-medium);
    font-family: var(--ff-body);
}

.word-arrow {
    color: var(--clr-text);
    font-size: var(--fs-medium);
    font-family: var(--ff-body);
}

.faded {
    opacity: 50%;
}

.bottom-component {
    position: absolute;
    user-select: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 0;
}
